<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Agenda de contatos</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.css") }}">
</head>
<body>
    <div class="container-sm">
        <h3>Agenda de contatos</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Cidade</th>
                </tr>
            </thead>

            <tbody>
                {% for contato in agenda %}
                    <tr>
                        <td>{{ contato.nome }}</td>
                        <td>{{ contato.telefone }}</td>
                        <td>{{ contato.cidade }}</td>
                        <td><a href="#">Apagar</a></td>
                        <td><a href="#">Editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <!-- Bootstrap -->
    <script src="{{ url_for("static", filename="js/bootstrap.js") }}"></script>
</body>
</html>