<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Agenda de contatos</title>
    <style>
        table, th, td {
            border: solid 1px black;
        }
    </style>
</head>
<body>
    <div class="titulo">
        <p>Agenda de contatos</p>
    </div>

    <!-- Tabela com a lista de telefones -->
    <div class="telefones">
        <table>
            <tr>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Cidade</th>
            </tr>

            {% for contato in agenda %}
                <tr>
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>{{ contato.cidade }}</td>
                    <td><a href="#">Apagar</a></td>
                    <td><a href="#">Editar</a></td>
                </tr>
            {% endfor %}

        </table>
    </div>
    <!-- ---------------------------------- -->
    
</body>
</html>