{% extends 'layout.html' %}

{% block head %}
<title>Solicitação de Coleta</title>
{% endblock head %}

{% block body %}
<div class="container-sm">

    <h3 class="text-center">Coletas</h3>
    <hr>

    {% if coletas%}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Coletar o quê?</th>
                <th>Onde?</th>
                <th>Quem Solicitou?</th>
                <th>Quando solicitado?</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for coleta in coletas %}
            <tr>
                <td>{{ coleta.coleta }}</td>
                <td>{{ coleta.local }}</td>
                <td>{{ coleta.usuario }}</td>
                <td>{{ coleta.data.strftime("%m/%d/%Y, %H:%M:%S") }}</td>
                <td>
                    <div class="acoes">
                        <a type="submit" class="btn btn-outline-danger" href="/apagar/{{coleta.id}}">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a type="submit" class="btn btn-outline-primary" href="/editar/{{coleta.id}}">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <i class="bi bi-info-circle-fill me-2"></i>
        <div>Sem coletas para exibir.</div>
    </div>
    {% endif %}

    <hr>
    <form action="/adicionar" method="post">

        <div class="input-group mb-3">
            <span class="input-group-text">Material:</span>
            <input type="text" name="nova_coleta" class="form-control">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Local:</span>
            <input type="text" name="novo_local" class="form-control">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Usuário:</span>
            <input type="text" name="novo_usuario" class="form-control" value="everton.souza">
        </div>

        <button class="btn btn-primary" type="submit">Solicitar Coleta</button>

    </form>

</div>
{% endblock body %}