<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    {% block head %}{% endblock head %}

</head>

<body>
    {% block body %}{% endblock body %}

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</body>

</html>